<div class="body">
    <div class="title"><h1>categories</h1></div>
    <div class="categories">
        <table>
            <tr>
                <td>Id</td><td>First Name</td><td>Last Name</td><td>Age</td><td>Picture</td><td>Delete</td>
            </tr>
            <tr ><!--*ngFor="let category of shared.categories"-->
                <td><!--{{category.categoryId}}--></td>
                <td><!--{{category.firstName}}--></td>
                <td><!--{{category.lastName}}--></td>
                <td><!--{{category.age}}--></td>
                <td class="pic_category"><!--{{category.pic}}--><img  width="50px" alt=""></td><!--[src]="category.pic"-->
                <td>
                    <button class="deletebutton" type="button" ><!--(click)="deleteCategory(category.categoryId)"-->
                        <span class="deletebutton__text">Delete</span>
                        <span class="deletebutton__icon"></span>
                    </button>
                </td>
            </tr>
            <tr class="addLine" *ngIf="showAddLine" id="btn">
                <td></td>
                <td><input type="text" placeholder="FirstName"  name="firstName" required></td><!--[(ngModel)]="categoryForm.firstName"-->
                <td><input type="text" placeholder="LastName"  name="lastName" required></td><!--[(ngModel)]="categoryForm.lastName"-->
                <td><input type="number" placeholder="Age"  name="age"  required></td><!--[(ngModel)]="categoryForm.age"-->
                <td><input type="text" placeholder="Photo"  name="pic" required></td><!--[(ngModel)]="categoryForm.pic"-->
            </tr>
            <tr *ngIf="showAddLine">
                <td></td><td></td><td></td>
                <td class="addLine_btn" colspan="7"><button class="cssbuttons-io-button" ><!--(click)="addNewCategory()"--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg><span>Add</span></button></td>
                <td></td><td></td><td></td>
            </tr>
        </table>
    </div>
    <button class="button" (click)="toggleAddLine()"  >
        <div class="bloom-container">
            <div class="button-container-main">
                <div class="button-inner">
                    <div class="back"></div>
                    <div class="front">
                    </div>
                </div>
            
            <div class="button-glass">
                <div class="back"></div>
                <div class="front"></div>
            </div>
            </div>
            <div class="bloom bloom1"></div>
            <div class="bloom bloom2"></div>
        </div>
    </button>

</div>
