<div class="body">
    <div class="product" routerLink="/admin/products"><h1>Products</h1><div>{{this.countproducts}}</div></div>
    <div class="User" routerLink="/admin/users"><h1>Users</h1><div>{{countCustomers}}</div></div>
    <div class="Category" routerLink="/admin/categories"><h1>Categories</h1><div>{{this.countCategories}}</div></div>
    <div class="orders" routerLink="/admin/Resrvations"><h1>Orders</h1><div>{{this.countorders}}</div></div>
    <div class="Contacts" routerLink="/admin/Contacts"><h1>Contacts</h1><div>{{this.countContacts}}</div></div>
</div>
