<div class="body">
    <div class="product" routerLink="/admin/products">
        <div>
            <h1>Products</h1>
            <div>{{this.countproducts}}</div>
        </div>
    </div>
    <div class="User" routerLink="/admin/users">
        <div>
            <h1>Users</h1>
            <div>{{countCustomers}}</div>
        </div>
    </div>
    <div class="Category" routerLink="/admin/categories"><div><h1>Categories</h1><div>{{this.countCategories}}</div></div></div>
    <div class="orders" routerLink="/admin/Resrvations"><div><h1>Orders</h1><div>{{this.countorders}}</div></div></div>
    <div class="Contacts" routerLink="/admin/Contacts"><div><h1>Contacts</h1><div>{{this.countContacts}}</div></div></div>
</div>
