
::-webkit-scrollbar{
    display: none;
}
html {
    scroll-behavior: smooth;
}

.body {
    width: 85%;
    height: 90%;
    position: fixed;
    background-color:#ebe0e2;
    box-shadow: 0 0 10px 0px black;

}
.title {
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px var(--ThirdColor);    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 3vw;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color:var(--ThirdColor) ;
}

.Contacts {
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    color: var(--FourthColor);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-35%);
}
.Contacts_mobile {
    display: none;
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    color: var(--FourthColor);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-35%);
}

.Contacts table {
    width: 100%;
    text-align: center;
}

.Contacts table tr:first-child td{
    border-bottom: 1px solid var(--FourthColor) ;
}
.Contacts table tr:not(:first-child)  {
    height: 60px;
    font-size: 14px;
    transition: all .3s;
    cursor: pointer;
}

.Contacts table tr:not(:first-child) td{
    height: 60px;
}

.Contacts table tr:hover:not(:first-child) {
    background-color: rgba(255, 255, 255, 0.299);
}

.Contacts table tr:hover:not(:first-child) {
    background-color: var(--PrimaryColor);
}

.Contacts table tr td:last-child  {
    width: 10%;
}

.Contacts table tr td:first-child , .Contacts table tr .message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contacts table tr td:first-child p,.Contacts table tr .message p  {
    width: 75px;
    height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Contacts table tr td .details {
    border: none;
    background: none;
    color: var(--FifthColor);
    text-decoration: underline;
    font-size: 12px;
}

.button {
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9999;
    cursor: pointer;
}

.deletebutton {
    position: relative;
    width: 75px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
}

.deletebutton, .deletebutton__icon, .deletebutton__text {
    transition: all 0.3s;
}

.deletebutton .deletebutton__text {
    font-size: 10px;
    transform: translateX(17.5px);
    color: #fff;
    font-weight: 600;
}

.deletebutton .deletebutton__icon {
    position: absolute;
    transform: translateX(54.5px);
    height: 100%;
    width: 19.5px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deletebutton .svg {
    width: 10px;
}

.deletebutton:hover {
    background: #cc0000;
}

.deletebutton:hover .deletebutton__text {
    color: transparent;
}

.deletebutton:hover .deletebutton__icon {
    width: 74px;
    transform: translateX(0);
}

.deletebutton:active .deletebutton__icon {
    background-color: #b20000;
}

.deletebutton:active {
    border: 1px solid #b20000;
}

.details-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.189);
    backdrop-filter: blur(5px);
    border: 4px solid var(--FourthColor);
    z-index: 999;
    border-radius: 25px;
}

.details-container .box {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    width: 75%;
    height: 75%;
}

.details-container .box h1 {
    position: absolute;
    text-align: center;
    color: var(--ThirdColor);
    top: -70px;
    font-size: 4rem;
    text-transform: uppercase;
}

.details-container .box div {
    background: rgb(255, 255, 255);
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-container .box div .label{
    background: var(--FourthColor);
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.details-container .box div .result{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result > input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 0.8rem;
  border: none;
  outline: none;
}

.result select {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 7px;
}

.result  select > option:first-of-type {
  display: none;
}


.details-container .box div .result div{ 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.details-container .box .id .result , .details-container .box .email .result {
    font-size: 12px;
}


  .details-container .button {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .details-container .button:before,
  .details-container .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .details-container .button:before {
    border: 4px solid var(--FourthColor);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .details-container .button:after {
    border: 4px solid var(--FourthColor);
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .details-container .button:hover:before,
  .details-container .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .details-container .button:hover:after,
  .details-container .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .details-container .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .details-container .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: var(--FourthColor);
  }
  
  .details-container .button:hover .button-box,
  .details-container .button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }

.details-container .message {
    width: 95% !important; 
    height: 100px !important;
}

.details-container .message .label {
    height: 100%;
    width: 20% ; 
}

.details-container .message .result {
    width: 80% !important; 
}

@media (max-width:450px) and (max-height:900px ) {
    .body {
    height: 95vh;
    width: 100%;
    }

    .Contacts {
    display: none;
    }
    .title {
    width: 85%;
    font-size: 5vw;
    }

    .Contacts_mobile {
        width: 70vw;
        height: 80%;
        transform: translate(-60%, -40%);
        display: block;
    }

    .details-container{
    transform: translate(-60%, -50%);
    width: 80%;
    }
    .button1 {
    top: 0;
    }
    .details-container .box h1 {
    position: relative;
    top: 0;
    font-size: 2rem; 
    height: auto;
    }
    .details-container .box {
    transform: translate(-50%, -65%);
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    align-content: normal;
    gap: 0;
    }
    .details-container .box div {
    width: 95%
    }
    .actions {
    position: relative;
    bottom: 0;
    }
    .category table tr:not(:first-child) td {
        height: 50px;
    }
}


