.body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: conic-gradient(from 0deg, var(--ThirdColor), var(--PrimaryColor), var(--ThirdColor));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: var(--PrimaryColor);
    overflow-x: hidden;
}
.nav_bar {
    position: fixed;
    z-index: 999;
}

