.body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.body .filter {
    position: sticky;
    left: 1% ;
    top: 18%;
    width: 18%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.189);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.363);
    border-radius: 10px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.body .filter .container {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

.body .filter .container::-webkit-scrollbar {
    width: 5px;
}

.body .filter .title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px var(--ThirdColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:default;
}

.body .filter .hr {
    margin-top: 20px;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(228,140,164,1) 15%, rgba(228,140,164,1) 85%, rgba(0, 0, 0, 0) 100%);
}


.filter .gendre {
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.filter .gendre label {
    width: 80%;
    color: var(--ThirdColor);
    font-size: 1.3rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.checkbox-wrapper:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.checkbox-wrapper .background {
    fill: var(--ThirdColor);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    /* -webkit-appearance: none; */
}

.checkbox-wrapper input[type=checkbox]:hover {
    cursor: pointer;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .background {
    fill: var(--ThirdColor);
}

.checkbox-wrapper input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}

.filter .brand {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter h2{
    text-transform: capitalize;
    color: var(--ThirdColor);
}

.form button {
    border: none;
    background: none;
    color: white;
}

.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: var(--ThirdColor);
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--PrimaryColor);
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    color: white;

}

.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

.form:focus-within:before {
    transform: scale(1);
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

.form svg {
    width: 17px;
    margin-top: 3px;
}

.filter .category {
    width: 100%;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter .category .list_cat::-webkit-scrollbar {
    width: 5px;
}

.filter .category .list_cat {
    margin-top: 10px;
    padding-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.249) inset;
    overflow-x: hidden ;
    background-color: var(--PrimaryColor);
}

.filter .category .list_cat div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    transition: all .3s;
    text-transform: capitalize;
    position: relative;
}

.filter .category .list_cat div:hover{
    background-color: rgba(255, 255, 255, 0.189);
}
.filter .category .list_cat div input:checked + label {
    background-color: rgba(255, 255, 255, 0.189);

}
.filter .category .list_cat div label {
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.filter .category .list_cat div input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}


.body .shop {
    position: absolute;
    right: 1% ;
    top: 18%;
    width: 79%;
    height: 80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.363);
    border-radius: 10px ;
    display: flex;
    align-items: end;   
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.189);

}

.body .shop .container {
    position: absolute;
    padding: 20px 0;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.shop .container > div {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--PrimaryColor);
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
}

.shop .container > div .brand {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-transform: uppercase;
    color: var(--FifthColor);
    width: 60%;
}

.shop .container > div .brand img {
    width: 50%;
    mix-blend-mode: multiply;
}


.shop > .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.shop > .title > div {
    font-weight: 800;
    font-size: 1.1rem;
    color: white;
    min-width: 100px;
    background-color: var(--ThirdColor);
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding:0 20px;
    text-transform: capitalize;
    position: relative;
}

.shop > .title > div:not(.all) {
    padding: 0 30px 0 20px;

}

.shop > .title > div .close {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 0.6rem;

}

.shop > .title > div .close:hover + div{
    text-decoration: underline;
}

.shop .container > div:hover {
    width: 220px;
    height: 320px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.shop .container > div > .pic {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shop .container > div > .pic img{
    width: 80%;
    height: 95%;

}

.shop .container > div > .title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}

.shop  .container > div > .price {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 26.6%;
    background-color: var(--ThirdColor);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.166);

}

.shop  .container > div  .newProduct {
    width: 30%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: red;
    color: white;
    z-index: 999;
    box-shadow: 0px 10px 20px 0px #000000;
}

.shop .container > div > .price::before {
    content: "";
    position: absolute;
    height: 150px;
    width:  100%;
    transform:  translateX(-50%);
    background-color: var(--SecondColor);
    rotate:  45deg;
    box-shadow: 0 0 10px 0 black;
}

.shop .container > div > .price p {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;

}

.collapse {
    display: none;
    position: relative;
    top: 10%;
    left: 1%;
    cursor: pointer;
}

.soldOut {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%,-30%);
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 0px #000000;

}

.shop .title .sorting-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 20px;
    background-color: transparent;
}

.shop .title .sorting-buttons button {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.shop .title .sorting-buttons div {
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
}

.shop .title .sorting-buttons button:hover {
    text-decoration: underline;
}

.original-price {
    position: absolute;
    left: 2%;
    top: 10%;
    text-decoration: line-through;
    color: red !important;
}

.search_container , .search_container-2  {
    width: 100%;
    padding: 20px;
}
.search_container-2 {
    display: none;
    width: 45%;
    top: 7%;
    float: right;
    position: relative;
}

.form {
    --input-text-color: #fff;
    --input-bg-color: transparent;
    --focus-input-bg-color: transparent;
    --text-color: white;
    --active-color: #1b9bee;
    --inline-padding-of-input: 1.2em;
    --gap: 1.1rem;
}

.form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 20px;
    isolation: isolate;
    cursor: pointer;
}

.fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;

}

.form label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.search {
    position: absolute;
}

.search {
    cursor:text;
    width: 100%;
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}

.form .search svg {
    width: 17px;
    display: block;
}

.form .search .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.form .search .input:focus {
    outline: none;
}

.form .search .input::placeholder {
    color: var(--text-color)
}

.form .search .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
}

.form .search .input:focus ~ .search {
    fill: var(--active-color);
}

.form .search .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
}

.form .search input:-webkit-autofill,
.form .search input:-webkit-autofill:hover,
.form .search input:-webkit-autofill:focus,
.form .search input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

@media (max-width:450px) and (max-height:900px ) {
    .body .filter {
        display: none;
        z-index: 999;
        width: 100vw;
        height: 86vh;
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.293);
    }
    #toggleDiv {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease;
    }

    .visible {
        opacity: 1;
    }
    .body .shop {
        top: 14%;
        width: 100%;
        height: 85%;
    }

    .body .shop .container{
        top: 10%;
        width: 100%;
        height: 90%;
    }

    .shop .container > div {
        width: calc(85%/2);
        height: 250px;

    }

    .shop .container > div:hover {
        width: calc(88%/2);
        height: 260px;

    }

    .shop .container > div > .title {
        font-size: 12px;

    }

    .shop  .container > div > .price p {
        font-size: 12px;
    }

    .shop  .container > div > .price  {
        width: 35%;
        height: 25%;
    }
    .search_container-2 {
        display: block;

    }
    .collapse {
        display: inline-block;
    }
}