
<div class="body">
    <div *ngIf="selectedUser" class="details-container">
        <div class="box box1" *ngIf="!showAddLine">
            <h1>{{selectedUser.fullname}}</h1>
            <div class="id">
                <div class="label">Id</div>
                <div class="result">{{selectedUser._id}}</div>
            </div>
            <div class="email">
                <div class="label">Email</div>
                <div class="result">{{selectedUser.email}}</div>
            </div>
            <div class="gender">
                <div class="label">Gender</div>
                <div class="result">{{selectedUser.gender}}</div>
            </div>
            <div class="phone">
                <div class="label">Phone</div>
                <div class="result">{{selectedUser.phone}}</div>
            </div>
            <div class="role">
                <div class="label">Role</div>
                <div class="result">{{selectedUser.role}}</div>
            </div>
            <div class="time">
                <div class="label">Created at</div>
                <div class="result">
                    <div class="date"> {{selectedUser.createdAt | date : "YYYY-MM-dd"}}</div>
                    <div class="date"> {{selectedUser.createdAt | date : "hh:mm:s"}}</div>
                </div>
            </div>
            <span class="actions">
                <button class="deletebutton " type="button" (click)="deleteUser(selectedUser._id)">
                    <span class="deletebutton__text">Delete</span>
                    <span class="deletebutton__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                    </span> 
                </button>
                <button class="deletebutton updatebutton" type="button" (click)="updateUsersToAdmin()" *ngIf="selectedUser.role === 'user'">
                    <span class="deletebutton__text">Make Admin</span>
                    <span class="deletebutton__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>
                    </span>
                </button>
                <button class="deletebutton updatebutton" type="button" (click)="updateUsersToAdmin()" *ngIf="selectedUser.role === 'admin'">
                    <span class="deletebutton__text">Make User</span>
                    <span class="deletebutton__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>
                    </span>
                </button>
                <button class="deletebutton addressbutton" type="button" (click)="toggleaddress(selectedUser._id)">
                    <span class="deletebutton__text">View Address</span>
                    <span class="deletebutton__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </span> 
                </button>
            </span>
        </div>
        <div class="box" *ngIf="showAddLine">
            <h1 *ngIf="cartItems.length > 0;">{{selectedUser.fullname}}'s cart</h1>
            <div class="box-cart-item" *ngIf="cartItems.length > 0; else emptyCart">
                <div class="cart-item" *ngFor="let item of cartItems ; let i = index">
                    <div class="item">
                        <div class="id">{{ i + 1 }}</div>
                        <div class="img">
                            <img [src]="getProductImgPath(item.product)" alt="{{item.product.product_name}}" />
                        </div>
                    </div>
                    <div class="item-details">
                        <h2>{{item.product.product_name}}</h2>
                        <p>{{item.product.price}} DT</p>
                        <p>*</p>
                        <p>Quantity:  <b>{{item.quantity}}</b></p>
                        <p>=</p>
                        <p>{{item.totalProductPrice}}DT</p>
                    </div>
                </div>
            </div>
            <ng-template  #emptyCart>
                <div class="empty">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"/></svg>
                    <h1>{{selectedUser.fullname}}'s cart is empty.</h1>
                </div>
            </ng-template>
        </div>
        <button class="button1" *ngIf="!showAddLine" (click)="toggleAddLine()"  >
            <div class="bloom-container">
                <div class="button-container-main">
                    <div class="button-inner">
                        <div class="back"></div>
                        <div class="front">
                            View cart
                        </div>
                    </div>
                
                <div class="button-glass">
                    <div class="back"></div>
                    <div class="front"></div>
                </div>
                </div>
                <div class="bloom bloom1"></div>
                <div class="bloom bloom2"></div>
            </div>
        </button>
        <button class="close_button" (click)="closeDetails()">
            <div class="button-box">
                <span class="button-elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                    ></path>
                </svg>
                </span>
                <span class="button-elem">
                    <svg viewBox="0 0 46 40">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                    ></path>
                    </svg>
                </span>
            </div>
        </button>
    </div>
    <div class="address-div" *ngIf="showAddress">
        <button class="close_button" (click)="closeAddress()">
            <div class="button-box">
                <span class="button-elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                    ></path>
                </svg>
                </span>
                <span class="button-elem">
                    <svg viewBox="0 0 46 40">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                    ></path>
                    </svg>
                </span>
            </div>
        </button>
        <div class="box-address" *ngIf="userHasAddress">
            <div class="address">
                <div class="label">Address</div>
                <div class="result">{{address.address}}</div>
            </div>
            <div class="state">
                <div class="label">State</div>
                <div class="result">{{address.state}}</div>
            </div>
            <div class="city">
                <div class="label">City</div>
                <div class="result">{{address.city}}</div>
            </div>
            <div class="additionaly">
                <div class="label">Additionaly Information</div>
                <div class="result">{{address.additionalInformation}}</div>
            </div>            
        </div>
        <div class="box-address" *ngIf="!userHasAddress">
            <h1>
                {{selectedUser.fullname}} has not have an Address
            </h1>
        </div>
    </div>
    <div class="title"><h1>Users</h1></div>
    <div class="users">
        <table>
            <tr>
                <td>Id</td><td>Full name</td><td>Email</td><td>Gender</td><td>Action</td>
            </tr>
            <tr *ngFor="let user of shared.user" [ngClass]="{'admin-row': user.role === 'admin'}">
                <td><p [title]="user._id">{{user._id}}</p></td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
                <td><div class="details" (click)="showDetails(user)">View Details</div></td>
            </tr>
        
        </table>
    </div>


</div>
