html {
    scroll-behavior: smooth;

}


.body {
    position: relative;
    width:100%;
    height:100vh;
    overflow-y: scroll;
    scroll-timeline: --page-scroll block;
    overflow-x: hidden;
    z-index:  1000 ;


}


.container {
    position: relative;
    width: 100vw;
    height:  100vh;
    perspective: 10px;
    overflow-x: hidden;
}

.nav_bar {
    position:fixed;
    top: 0px;
    z-index: 1050;
    animation: coloring both linear;
    animation-timeline: --page-scroll;
    animation-range: 50vh 100vh;
    
}

@keyframes coloring {
    from {
        background-color: transparent;
    }
    to {
        background-color:#eec2c99f;

    }
}


.container .shop {
    width: 100%;
    height: 50vh;
    background-image: conic-gradient(from 0deg, var(--ThirdColor), var(--PrimaryColor), var(--ThirdColor));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: var(--PrimaryColor);
    box-shadow: 0 0 10px 0 black;
    position: relative;
    overflow-y: hidden;
}

.container .shop .left_p,.container .shop .right_p {
    width: 300px ;
    height: 300px;
    color: white;
    font-size: 3.2rem;
    font-family: Bernard MT CONDENSED;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    text-align: center;

}
.container .shop .right_p {
    transform: rotateZ(90deg);
    right: 10px;
} 

.container .shop .left_p {
    transform: rotateZ(-90deg);
    left: 10px;
}

.container .shop .left_p b , .container .shop .right_p b {
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px white;
}

.container .product {
    position: absolute;
    height: 100%;
    transform-style:preserve-3d ;
    z-index: -1;
    width: inherit;
    height: 100vh;
    top: 0;
    overflow: hidden;

} 


.container .product > div {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1051;
}

.container .product .bg {
    background-color: #e5c3c4;
    z-index: 1;

}
.item1,.item2,.item3,.item4,.item5 {
position: absolute;
width: 100%;
overflow: hidden;
}
.item1 {
    animation: p_move1 both linear;
    animation-timeline: --page-scroll;
    animation-range: 0vh 50vh;
}

.item2 {
    animation: p_move2 both linear;
    animation-timeline: --page-scroll;
    animation-range: 0vh 50vh;
}
.item3 {
    animation: p_move3 both linear;
    animation-timeline: --page-scroll;
    animation-range: 0vh 50vh;
}
.item4 {
    animation: p_move4 both linear;
    animation-timeline: --page-scroll;
    animation-range: 0vh 50vh;
}
.item5 {
    animation: p_move5 both linear;
    animation-timeline: --page-scroll;
    animation-range: 0vh 50vh;
}

@keyframes p_move1 {
    from {
        transform: translate(0%,-50%);
    }
    to {
        transform: translate(0%,0%);
    }
}

@keyframes p_move2 {
    from {
        transform: translate(-70%,0%);
    }
    to {
        transform: translate(0%,0%);
    }
}
@keyframes p_move3 {
    from {
        transform: translate(-25%,-25%);
    }
    to {
        transform: translate(0%,0%);
    }
}
@keyframes p_move4 {
    from {
        transform: translate(0%,20%);
    }
    to {
        transform: translate(0%,0%);
    }
}
@keyframes p_move5 {
    from {
        transform: translate(25%,0%);
    }
    to {
        transform: translate(0%,0%);
    }
}




.product div > img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px black);
}


@keyframes float {
    1% {
        transform: translate(-50%,-60%);

    }

    12%{
        transform: translate(-49%,-61%);

    }

    25% {
        transform: translate(-50%,-62%);

    }

    50% {
        transform: translate(-52%,-62%);

    }

    62%{
        transform: translate(-53%,-61%);

    }
    75% {
        transform: translate(-52%,-60%);

    }
}

.main_product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;
    filter: drop-shadow(0 0 10px var(--ThirdColor));
    animation: float 10s linear infinite;
    transition: transform 0.4s ease-out;
}

.dovider {
    position: absolute;
    z-index: 1030;
}

.sponsoring {
    position: relative;
    box-shadow: 0 0 10px 0 black;
}


@media (max-width:1200px) and (min-width:1000px ) {
    .dovider {
        height: 100px;
    }
}

@media (max-width:1000px) and (min-width:800px ) {
    .dovider {
        height: 100px;
    }
}

@media (max-width:800px) and (min-width:600px ) {

    .dovider {
        height: 80px;
    }
}