<div class="container mt-5">
    <div class="payment-container">
        <h1 class="payment-title">Complete Your Purchase</h1>
        <form action="" method="post">
            <div class="mb-3">
                <label for="amount" class="form-label">Enter Payment Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" min="100" placeholder="min 100 millimes" required>
            </div>
            <button (click)="makePayment(1000)" type="submit" class="btn btn-primary payment-button">Pay Now</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>

