<div class="sponsoring">
    <div class="slider">
        <img src="../../../assets/sponsoring/s1.png" alt="">
        <img src="../../../assets/sponsoring/s2.png" alt="">
        <img src="../../../assets/sponsoring/s3.png" alt="">
        <img src="../../../assets/sponsoring/s4.png" alt="">
        <img src="../../../assets/sponsoring/s5.png" alt="">
        <img src="../../../assets/sponsoring/s6.png" alt="">
    </div>
    <div class="slider_clone">
        <img src="../../../assets/sponsoring/s1.png" alt="">
        <img src="../../../assets/sponsoring/s2.png" alt="">
        <img src="../../../assets/sponsoring/s3.png" alt="">
        <img src="../../../assets/sponsoring/s4.png" alt="">
        <img src="../../../assets/sponsoring/s5.png" alt="">
        <img src="../../../assets/sponsoring/s6.png" alt="">
    </div>
</div>

