.body {
    width: 100vw;
    height: 300vh;
    position: relative;
}

.item {
    width: 60vw;
    height: 80vh;
    position: sticky;
    left: 0;
    top: 20vh;
}

.item .pic {
    position: relative;
    float: right;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.629);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.225);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s cubic-bezier(.68,-.6,.32,1.6);

}
.pic > img {
    width: 100%;
    height: 100%;
}
.item .shadow {
    position: absolute;
    right:0;
    top: 0;
    background:linear-gradient(0deg, var(--FifthColor) 0%, rgba(0,0,0,0) 75%);
    width: 500px;
    height: 500px;
    z-index: -1;
    transition: all .5s cubic-bezier(.68,-.6,.32,1.6);

}

.item:hover .shadow {
    transform: translate(-3%,3%);

}

.item:hover .pic {
    transform: translate(2%,-2%);

}

.item .soldOut {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color:red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    transform: translate(50%,-50%);
    z-index: 999;

}

.item .newProduct {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color:red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    transform: translate(-50%,-50%);
    z-index: 999;

}


.details {
    position: absolute;
    width: 40vw;
    right: 0;
    top: 20vh;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap:  1rem;
    padding: 20px 0 0 100px;
    color: white;
}

.details .name {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 95%;
}

.details .brand {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;

}

.details .desc {
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
}

.details .stock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 50px;
    margin: 20px 0;

}


.details .price {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px rgba(0, 0, 0, 0.529);
    cursor: default;
    transition: all .5s;
    display: flex;
    gap: 20px;
}

.details .quant {
    font-size: 1rem;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--ThirdColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
}

.details .quant button{
    width: 30px;
    background-color: transparent;
    border: none;
    color :var(--ThirdColor);
    font-size: 1.5rem;
    cursor: pointer;
}

.quant:hover + .price {
    color: var(--ThirdColor);

}

.add {
    width: 80%;
    display: flex;
    justify-content: center;
}

.add.disabled {
    pointer-events: none;
    opacity: 0.5; 
}

.add .button {
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: var(--FifthColor);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.add .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.add .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.add .button:hover .icon {
    transform: translate(4px);
}

.add .button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.add .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.back {
    display: block;
    left: 5%;
    top: 15%;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    position: sticky;

}

.back:before,
.back:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.back:before {
    border: 4px solid var(--FourthColor);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back:after {
    border: 4px solid var(--FourthColor);
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.back:hover:before,
.back:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.back:hover:after,
.back:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: var(--FourthColor);
}

.back:hover .button-box,
.back:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
}

.hr {
    margin: 20px 0;
    width: 80%;
    height: 1px;
    background: var(--FifthColor);
}

.gender h2{
    text-transform: uppercase;
    margin-bottom: 10px;
}


.more_products .container {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.more_products .container > div {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--PrimaryColor);
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
}


.more_products .container > div > .pic {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.more_products .container > div > .pic img{
    width: 80%;
    height: 95%;
}

.more_products .container > div > .title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}

.more_products  .container > div > .price {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 26.6%;
    background-color: var(--ThirdColor);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.166);

}

.more_products .container > div > .price::before {
    content: "";
    position: absolute;
    height: 150px;
    width:  100%;
    transform:  translateX(-50%);
    background-color: var(--SecondColor);
    rotate:  45deg;
    box-shadow: 0 0 10px 0 black;
}

.more_products .container > div > .price p {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 16px;
    text-transform: uppercase;

}

.more_products h2 {
    margin-bottom: 20px;
}

.original-price {
    color: rgba(252, 0, 0, 0.132);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px rgba(255, 0, 0, 0.529);
    text-decoration: line-through;
    /* color: red !important; */
}

.new_price {
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px rgba(0, 0, 0, 0.529);
}