

::-webkit-scrollbar{
    display: none;
}
html {
    scroll-behavior: smooth;
}

.body {
    width: 85%;
    height: 90%;
    position: fixed;
    background-color:var(--PrimaryColor);
    box-shadow: 0 0 10px 0px black;

}
.title {
    color: rgba(255, 255, 255, 0);
    font-family: Bernard MT CONDENSED;
    -webkit-text-stroke: .1px white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 3vw;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color:white ;
}

.categories {
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-35%);
}

.categories table {
    width: 100%;
    text-align: center;
}

.categories table tr:first-child td{
    border-bottom: 1px solid var(--FourthColor) ;
}
.categories table tr:not(:first-child) {
    font-size: 14px;
    height: 40px;
    transition: all .3s;
    cursor: pointer;
}

.categories table .list:hover  {
    background-color: rgba(255, 255, 255, 0.149);
}

.categories table tr td:last-child  {
    width: 10%;
}


.button {
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9999;
    cursor: pointer;
}

.button .bloom-container {
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
}

.button .bloom-container .button-container-main {
    width: 110px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    border-right: 5px solid white;
    border-left: 5px solid rgba(128, 128, 128, 0.147);
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .button-container-main .button-inner {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -10px 5px 10px 0px;
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .button-container-main .button-inner .back {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(60deg, #f4dfba10 0%, #F4DFBA 100%);
}

.button .bloom-container .button-container-main .button-inner .front {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: linear-gradient(60deg, #f5ddb410 0%, #f4d6a2 100%);
    display: grid;
    place-content: center;
    color: white;
    font-size: 3rem;
}

.button .bloom-container .button-container-main .button-inner .front .svg {
    fill: #ffffff;
    opacity: 0.5;
    width: 30px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}

.button .bloom-container .button-container-main .button-glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #f4dfba05 0%, #f7d499 100%);
    transform: translate(0%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .bloom {
    height: 1px;
    width: 1px;
    position: absolute;
    background: white;
}

.button .bloom-container .bloom1 {
    top: 10px;
    right: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 10px, rgb(255, 255, 255) 0px 0px 20px 20px;
}

.button .bloom-container .bloom2 {
    bottom: 10px;
    left: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 10px, rgba(255, 255, 255, 0.5) 0px 0px 30px 20px;
}

.button .bloom-container:hover {
    transform: scale(1.1);
}

.button .bloom-container:hover .button-container-main .button-glass {
    transform: translate(0%, -40%);
}

.button .bloom-container:hover .button-container-main .button-inner .front .svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px white);
}

.button .bloom-container:active {
    transform: scale(0.7);
}

.button .bloom-container:active .button-container-main .button-inner {
    transform: scale(1.2);
}

.addLine input {
    background-color: transparent;
    color: white;
    outline: none;
    border: 2px solid var(--SecondColor);
    padding: 2px 5px;
    
}

.addLine input::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
  }

  .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, var(--PrimaryColor) 0%, var(--SecondColor) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #00000098;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.2em 1.5em -0.5em #00000098;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.1em 1em -0.5em #00000098;
  }

  /* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    height: 1.3em;
    width: 1.3em;
    background: black;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
    transform: translateX(34px);
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px var(--PrimaryColor), 0 -10px var(--spread) 0px var(--FourthColor), 10px -10px var(--spread) 0px var(--SecondColor), 10px 0 var(--spread) 0px var(--ThirdColor), 10px 10px var(--spread) 0px var(--PrimaryColor), 0 10px var(--spread) 0px var(--FourthColor), -10px 10px var(--spread) 0px var(--SecondColor);
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #f0f0f0;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

.addLine select {
    color: black;
    background-color: #876445e1;
    border: 2px solid var(--SecondColor);
    padding: 2px 5px;
}

.addLine select option:hover,.addLine select option:checked  {
    background-color: var(--PrimaryColor);
}


.addLine_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.deletebutton {
    position: relative;
    width: 75px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
  }
  
  .deletebutton, .deletebutton__icon, .deletebutton__text {
    transition: all 0.3s;
  }
  
  .deletebutton .deletebutton__text {
    font-size: 10px;
    transform: translateX(17.5px);
    color: #fff;
    font-weight: 600;
  }
  
  .deletebutton .deletebutton__icon {
    position: absolute;
    transform: translateX(54.5px);
    height: 100%;
    width: 19.5px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deletebutton .svg {
    width: 10px;
  }
  
  .deletebutton:hover {
    background: #cc0000;
  }
  
  .deletebutton:hover .deletebutton__text {
    color: transparent;
  }
  
  .deletebutton:hover .deletebutton__icon {
    width: 74px;
    transform: translateX(0);
  }
  
  .deletebutton:active .deletebutton__icon {
    background-color: #b20000;
  }
  
  .deletebutton:active {
    border: 1px solid #b20000;
  }

  .pic_coach{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }